path {fill: #9CAFB7; stroke: white;}
path:hover {fill: #E6B89C;}
* { padding: 0; margin: 0; }


html, body {
height: 100%;

display: flex;
flex-direction: column;

}

body > * {
flex-shrink: 0;
}

#showCountry h1 {
  color: #4281A4;
}

#countrySidebar {
  color: #4281A4;
  text-align:center;
  font-size: 14px;
}
#visited {
  margin-left: 40%;
}

#container { overflow: hidden; height:100%;display:inline-flex;width:100%;
}
#map { float:left; height:100%; width:100%;display:inline-block; margin-top:50px;}
#sidebar { background:white; height:100%;width:35%;overflow-y: auto;
  border: 4px solid #43c1b1; border-bottom: none; border-top: none;
  border-right: none;
}
#showCountry {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
img {
border: 1px solid #FFFFFF;
border-radius: 4px;
padding: 0px;
width: 150px;
height: 150px;
}

.grid {
  margin-top: 30px;
  margin-left:15px;
}
li {
list-style-type: none;
}

ul > li {
list-style: none;
display: inline;
float: left;
margin: 0 5px;
padding-top: 10px;
}
